
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

    <h1 style="margin-top: 25px;">
      {{title}}
    </h1>
  
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="studentName" placeholder="Name">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="studentAge" placeholder="Age">
      </div>
      <div class="col-md-3">
        <input type="text" class="form-control" [(ngModel)]="studentAddress" placeholder="Address">
      </div>
      <div class="col-md-3">
        <button type="button" (click)="CreateRecord()" [disabled]="!studentName || !studentAge || !studentAddress" class="btn btn-primary">+
          Create Student</button>
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-md-3">
        <div class="card" style="width: 18rem;" *ngFor="let item of students">
          <div class="card-body" *ngIf="!item.isEdit; else elseBlock">
            <h5 class="card-title">{{item.Name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Age: {{item.Age}} Years</h6>
            <p class="card-text">Address: {{item.Address}}</p>
            <a  class="card-link" (click)="EditRecord(item)">Edit</a>
            <a  class="card-link" (click)="RemoveRecord(item.id)">Delete</a>
          </div>
          <ng-template #elseBlock>
            <div class="card-body">
              <h5 class="card-title">Edit</h5>
              <div class="form-group">
                <div class="row">
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="item.EditName" placeholder="Edit Name">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="item.EditAge" placeholder="Edit Age">
                  </div>
                  <div class="col-md-12">
                    <input type="text" class="form-control" [(ngModel)]="item.EditAddress" placeholder="Edit Address">
                  </div>
                </div>
              </div>
  
              <a  class="card-link" (click)="item.isEdit = false">Cancel</a>
              <a  class="card-link" (click)="UpdateRecord(item)">Update</a>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  
  
  </div>
 